body {
    margin: 0px;
    border: 0px;
    font-family: arial;
}

a {
    text-decoration: none;
}

.resalta {
    color: #ff1 !important;
    border-top: solid 15px rgba(255, 0, 0, 0);
    border-bottom: solid 15px;
    height: 70px !important
}

.header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    background-color: #22a;
    width: 100%;
    height: 100px;
    padding: 0px;
    z-index: 2000;
}

.header__logo {
    margin: 0px 60px;
    padding: 0px;
    text-align: center;

    font-size: 2em;
    color: white;
}

.header__container--nav {
    margin-right: 30px;
    height: 100%
}

.header__container--nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0px;
}

.header__container--nav li {
    font-size: 1.7em;
    margin-right: 30px;
    color: #aa1;
    height: 100px;

    text-transform: capitalize;

    display: flex;
    align-items: center;
}

.header__container--nav li:hover {
    color: #ee1
}

.info {

    display: flex;
    align-items: center;
    background-color: #44b;
    width: 100%;
    height: 70vh
}

.info__container {
    display: inline-block;
    vertical-align: center;
    margin: auto 0px;
    background-color: #ffa;
    max-height: 60vh
}

.info__container--text {
    display: inline-block;
    background-color: #fff;
    float: right;
    width: 50%;
    height: 100%;

    padding: 0px 5vw;
}

.info__title {
    margin-top: 10px;
}

.info__context {

    overflow: scroll;
    max-height: 45vh;
}


.work {
    display: inline-block;
    width: 100%;
    background-color: #dd2;
    margin: 0px;
}

.work__container {
    margin: 5vh 2vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: solid 2px #000;
}

.work-card__container {
    border: solid 2px;
    margin: 5vh auto;
    width: 25vw;
    height: calc(25vw/2);
    background-color: #fff
}

.work-card__container:hover {
    width: 30vw;
    height: 15vw;
    margin: calc(25vw/4 + 10vh/2 - 15vw/2) auto;
}

.contact__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact__container--form {
    display: flex;
    margin: 20px;
    flex-direction: column;
}

.contact__container--contact {
    margin: 20px;
}

.footer {
    width: 100%;
    height: 2em;
    margin: 0px;
    border: 0px;
    background-color: #aaa;
}

@media (max-width: 1000px) {
    .header__container--nav li {
        font-size: 1.5em;
    }

    .work__container {
        grid-template-columns: repeat(2, 1fr);
    }

    .work-card__container {
        width: 35vw;
        height: calc(35vw/2);
    }

    .work-card__container:hover {
        width: 40vw;
        height: 20vw;
        margin: calc(35vw/4 + 10vh/2 - 20vw/2) auto;
    }


}

@media (max-width: 600px) {
    .resalta {
        border: 0px rgba(255, 0, 0, 0);
        color: blue !important;
        background-color: rgba(255, 255, 255, 0.6);
    }

    .resalta::before {
        content: "→";
    }

    .header {
        justify-content: center;
    }

    .header__container--nav {
        overflow: hidden;
        position: absolute;
        top: calc(100vh - 100px);
        right: 0px;
        margin: 0px;


    }


    .header__container--nav ul {
        display: flex;
        flex-direction: column;
    }

    .header__container--nav li {
        font-size: 1.3em;
    }

    .header__container--nav li:focus {
        font-size: 1.5em;
    }

    .work__container {
        grid-template-columns: repeat(1, 1fr);
    }

    .work-card__container {
        width: 80vw;
        height: 40vw;
    }

    .work-card__container:hover {
        width: 90vw;
        height: 45vw;
        margin: calc(40vw/2 + 10vh/2 - 45vw/2) auto;
    }
}